body {
    text-align: left;
    width: 85mm;
    height: 55mm;
    padding: 20px;
    border: 3px solid rgb(16, 16, 48);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 1.5rem;
    color: rgb(16, 16, 48);
}

p{
    color: rgb(16, 16, 48);
}

.text {
    font-size: 0.8rem;
    color: rgb(16, 16, 48);
}

a {
    text-decoration: none;
    color: rgb(16, 16, 48);
}

a:hover {
    text-decoration: underline;
    color: blue;
}

img {
    display: float;
    float: right;
    margin-left: auto;
}

header {
    display: inline;
}