main {
    text-align: left;
    width: 85mm;
    height: 55mm;
    padding: 20px;
    border: 3px solid rgb(16, 16, 48);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgb(16, 16, 48);
}

h1 {
    font-size: 1.5rem;
    color: rgb(16, 16, 48);
    text-shadow: 2px 3px 7px rgb(16, 16, 48);
}

p{
    color: rgb(16, 16, 48);
}

.text {
    font-size: 0.8rem;
    color: rgb(16, 16, 48);
}

a {
    text-decoration: none;
    color: rgb(16, 16, 48);
}

a:hover {
    text-decoration: underline;
    color: blue;
}

img {
    float: right;
    margin-left: auto;
}

header {
    display: inline;
}

.grad{
    height: 55mm;
    width: 85mm;
    background-color: grey;
    background-image: linear-gradient(to left, #00f260, #0575e6);
}